<!--script type="text/template" id="course-item-template"-->
    <a href="<%= url ? url : '#' %>">
        <div class="course-view">
            <div class="degree-label"><span class=""><%= degree %></span></div>
            <div class="university-label"><span class="">Awarded by <%= university %></span></div>
        </div>
    </a>
<!--/script-->