body div#newsflash.roknewsflash {border:0;margin: -10px 0 10px 0;position:relative;height:40px; background: #000;} /* clear any default styling */
.roknewsflash .controls { width:55px;position:absolute;top:10px;right:0;}
.roknewsflash .controls span {display:none;}
.roknewsflash .controls div {width:21px;height:21px;float:left;margin-left:4px;}
.roknewsflash .controls .control-prev {background:url(images/arrows.png) 100% 0 no-repeat;}
.roknewsflash .controls .control-next {background:url(images/arrows.png) 0 0 no-repeat;}
.roknewsflash .controls .control-prev-hover {background:url(images/arrows.png) 100% -21px no-repeat;}
.roknewsflash .controls .control-next-hover {background:url(images/arrows.png) 0 -21px no-repeat;}
.roknewsflash .flashing {position:absolute;top:8px;left:8px;line-height:21px;font-weight:bold; color: #FFF; font-size:10px;}
.roknewsflash ul {margin:0;padding:0;margin-right:60px;color: #FFF;font-size:10px; top: 8px;}
.roknewsflash li {list-style:none;margin:0;padding:0;line-height:21px;color: #FFF;font-size:10px;}
.roknewsflash li a {color:#FFFFFF;}