html {
    height: inherit !important;
}

body.com_gantry5 {
    color: $light-gray;
    background-color: $body-bg !important;

    a {
        text-decoration: none;
    }

    .subhead-collapse.collapse, .header {
    	display: none;
    }

    .container-main {
    	padding: 0;
    }

    #status {
    	box-shadow: none !important;
    }

    #footer {
        a {
            color: $core-accent;
        }
    }

    #g5-container {
        .inner-container {
            margin: 0;
        }

        li {
            line-height: inherit;
        }

        textarea, input {
            box-shadow: none;
        }

        input, button, select, textarea {
            font-family: inherit;
        }

    }

    nav.navbar * {
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
    }

    // fixes weird tall element in the page
    > div:last-child[style^="position: absolute; z-index: -1; top: 0px; left: 0px; right: 0px; height: "] {
        display: none;
    }
}

body.com_modules, body.com_menus {
    #g5-container {
        font-size: inherit; // inherit from the platform

        .inner-container {
            color: inherit;
            margin: 0;
            box-shadow: none;
        }

        .main-block {
            background-color: inherit;
        }

        .g-content {
            margin: 0;
            padding: 0;
        }

        .g-instancepicker-title {
            font-size: $core-font-size;
            font-style: italic;
            margin-right: 0.5rem;

            &:empty {
                margin-right: 0;
            }
        }
    }
}
