/* @override http://localhost:8888/sit/plugins/content/article_slider_css.css */

.jq_article_slider_title {
	cursor: pointer;
	overflow: hidden;
	padding: 1px 5px;
	}

.jq_article_slider_title_text {
	font-size: 100%;
	}

.jq_article_slider_title_right_label {
	color: #FF4444;
	font-size: 80%;
	}

.jq_article_slider_content {
	background-color: #ededed;
	padding: 8px 8px 4px;
	color: #797979;
	font-size: 90%;
	}