// Copyright (C) YOOtheme GmbH, http://www.gnu.org/licenses/gpl.html GNU/GPL */

@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,300';

// Variables
// ========================================================================

//
// Spacings
//

@global-margin: 20px;
@global-large-margin: 30px;

//
// Text
//

@global-link-color: #1fa2d6;
@global-link-hover-color: #0074a2;

//
// Backgrounds & Borders
//

@global-primary-gradient-top: #5cc0ea;
@global-primary-gradient-bottom: #4cacd7;

//
// Base
//

@base-h1-font-size: round(@global-font-size * 2.85); // 40px
@base-h1-line-height: round(@base-h1-font-size * 1.25); // 50px
@base-h2-font-size: round(@global-font-size * 2.28); // 32px
@base-h2-line-height: round(@base-h2-font-size * 1.25); // 40px
@base-h3-font-size: round(@global-font-size * 1.71); // 24px
@base-h3-line-height: round(@base-h3-font-size * 1.25); // 30px
@base-h4-font-size: round(@global-font-size * 1.28); // 18px
@base-h4-line-height: round(@base-h4-font-size * 1.33); // 24px
@base-selection-background: #1fa2d6;
@base-body-font-family: 'Open Sans';
@base-heading-font-family: 'Open Sans';
@base-heading-font-weight: 300;

//
// Panel
//

@panel-box-primary-background: #eefaff;
@panel-box-primary-color: #699eb3;
@panel-box-primary-title-color: #3484a4;

//
// Article
//

@article-title-font-weight: 300;

//
// Nav
//

@nav-padding-horizontal: 20px;
@nav-side-active-box-shadow: rgba(0,69,109,0.25);
@nav-dropdown-hover-box-shadow: rgba(0,69,109,0.25);
@nav-navbar-hover-box-shadow: rgba(0,69,109,0.25);
@nav-search-active-box-shadow: rgba(0,69,109,0.25);

//
// Navbar
//

@navbar-nav-height: 45px;

//
// Button
//

@button-primary-hover-background: #53b5de;
@button-primary-active-background: #359ac4;

//
// Icon
//

@icon-button-hover-color: @global-link-hover-color;

//
// Badge
//

@badge-font-size: 11px;
@badge-font-weight: normal;

//
// Thumbnail
//

@thumbnail-background: #fff;

//
// Dropdown
//

@dropdown-width: 220px;

//
// Utility
//

@utility-heading-large-font-size: round(@global-font-size * 3.71); // 52px
@utility-heading-large-line-height: round(@utility-heading-large-font-size * 1.23); // 64px