/*!
 * Bootstrap v2.3.2
 *
 * Copyright 2012 Twitter, Inc
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Designed and built with all the love in the world @twitter by @mdo and @fat.
 */


body {
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 14px;
line-height: 20px;
color: #333333;
}
a {text-decoration: none;}
ul {list-style: none; padding: 0;margin: 0;}
ul li {border-bottom: 1px solid #dddddd; padding:15px 10px;}
select {width:auto;}
table {background-color: #f5f5f5;}
#dump { display:none;}
.panel {width: 488px;}
.degree-label, .degree-label a { font-weight: 600; color:#2668b2;}
.university-label { color:#666666; }
.label {color:#666666;}
table, ul {width: 100%;}