<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Course Finder</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <script type="text/javascript" src="jquery-1.7.min.js"></script>
        <script type="text/javascript" src="json2.js"></script>
        <script type="text/javascript" src="underscore-min.js"></script>
        <script type="text/javascript" src="backbone-min.js"></script>
        <script type="text/javascript" src="backbone.marionette.min.js"></script>
        <script type="text/javascript" src="courseFetcherApp.js"></script>
        <script type="text/javascript" src="courseFinderApp.js"></script>
        <script type="text/javascript" src="app.js"></script>
        <link rel="stylesheet" href="courseFinder.css">
    </head>
    <body>

<script type="text/template" id="institutions_select_template">
    <% institutions.each(function(institution) { %>
        <option data-id="<%= institution.get('id') %>" value="<%= institution.get('id') %>"><%= institution.get('name') %></option>
    <% }); %>
</script>

<script type="text/template" id="diplomas_select_template">
    <% diplomas.each(function(diploma) { %>
        <option value="<%= diploma.get('id') %>"><%= diploma.get('name') %></option>
    <% }); %>
</script>

<script type="text/template" id="course-item-template">
    <a href="<%= url ? url : '#' %>">
        <div class="course-view">
            <div class="degree-label"><span class=""><%= degree %></span></div>
            <div class="university-label"><span class="">Awarded by <%= university %></span></div>
        </div>
    </a>
</script>


    <div class="panel">

        <table class="">
            <tr>
                <td>
                    <div id="institutions-editor-container">
                        <span class="label">Institution :</span> <select id="institutions-selector">
                            <option value="">Select...</option>
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div id="diplomas-editor-container">
                        <span class="label">Diploma :</span> <select id="diplomas-selector" disabled="disabled">
                            <option value="">Select...</option>
                        </select>
                    </div>
                </td>
            </tr>
        </table>

        <div id="courses-display-container" class="">
            <ul id="courses-selector">
            </ul>
        </div>

        <button id="dump">Dump model</button>
    </div>
</body>
</html>
