// Copyright (C) YOOtheme GmbH, http://www.gnu.org/licenses/gpl.html GNU/GPL */

//
// Component: Accordion
//
// ========================================================================


// Variables
// ========================================================================

@accordion-title-margin-bottom:                 @global-margin;
@accordion-title-padding-horizontal:            @global-margin;
@accordion-title-font-size:                     round((@global-font-size * 1.28)); // 18px / 20px
@accordion-title-line-height:                   round((@accordion-title-font-size * 1.32)); // 24px / 26px


// Component
// ========================================================================

.hook-accordion() {}


// Modifier: `uk-accordion-title`
// ========================================================================

.hook-accordion-title() {}


// Modifier: `uk-accordion-content`
// ========================================================================

.hook-accordion-content() {}


// Miscellaneous
// ========================================================================

.hook-accordion-misc() {}