// Copyright (C) YOOtheme GmbH, http://www.gnu.org/licenses/gpl.html GNU/GPL */

//
// Component: Dropdown
//
// ========================================================================


// Variables
// ========================================================================

@dropdown-z-index:                              @global-z-index + 20;
@dropdown-color:                                @global-color;
@dropdown-divider-border:                       @global-border;

@dropdown-navbar-color:                         @global-color;


// Component
// ========================================================================

.hook-dropdown() {}


// Modifier: `uk-dropdown-navbar`
// ========================================================================

.hook-dropdown-navbar() {}


// Miscellaneous
// ========================================================================

.hook-dropdown-misc() {}