// Copyright (C) YOOtheme GmbH, http://www.gnu.org/licenses/gpl.html GNU/GPL */

//
// Component: Modal
//
// ========================================================================


// Variables
// ========================================================================

@modal-z-index:                                 @global-z-index + 10;

@modal-dialog-background:                       @global-background;

@modal-header-margin-bottom:                    @global-margin;

@modal-footer-margin-top:                       @global-margin;

@modal-caption-color:                           @global-contrast-color;


// Component
// ========================================================================

.hook-modal() {}


// Sub-object: `uk-modal-dialog`
// ========================================================================

.hook-modal-dialog() {}


// Modifier: `uk-modal-dialog-lightbox`
// ========================================================================

.hook-modal-dialog-lightbox() {}


// Sub-object: `uk-modal-header`
// ========================================================================

.hook-modal-header() {}


// Sub-object: `uk-modal-footer`
// ========================================================================

.hook-modal-footer() {}


// Sub-object: `uk-modal-caption`
// ========================================================================

.hook-modal-caption() {}


// Sub-object: `uk-modal-spinner`
// ========================================================================

.hook-modal-spinner() {}


// Miscellaneous
// ========================================================================

.hook-modal-misc() {}