// Copyright (C) YOOtheme GmbH, http://www.gnu.org/licenses/gpl.html GNU/GPL */

//
// Component: Progress
//
// ========================================================================


// Variables
// ========================================================================

@progress-margin-vertical:                      @global-margin;

@progress-bar-background:                       @global-primary-background;
@progress-bar-font-size:                        round((@global-font-size * 0.85)); // 12px / 14px
@progress-bar-color:                            @global-contrast-color;

@progress-bar-success-background:               @global-success-background;
@progress-bar-warning-background:               @global-warning-background;
@progress-bar-danger-background:                @global-danger-background;


// Component
// ========================================================================

.hook-progress() {}


// Sub-object: `progress-bar`
// ========================================================================

.hook-progress-bar() {}


// Color modifiers
// ========================================================================

.hook-progress-bar-success() {}

.hook-progress-bar-warning() {}

.hook-progress-bar-danger() {}


// Miscellaneous
// ========================================================================

.hook-progress-misc() {}