// Copyright (C) YOOtheme GmbH, http://www.gnu.org/licenses/gpl.html GNU/GPL */

//
// Component: Search
//
// ========================================================================


// Variables
// ========================================================================

@search-height:                                 @global-height;
@search-color:                                  @global-color;
@search-placeholder-color:                      @global-muted-color;

@dropdown-search-color:                         @global-color;
@dropdown-search-navbar-margin-top:             5px;
@dropdown-search-navbar-margin-right:           -15px;

@nav-search-color:                              @global-color;
@nav-search-active-background:                  @global-primary-background;
@nav-search-active-color:                       @global-contrast-color;
@nav-search-header-color:                       @global-muted-color;
@nav-search-divider-border:                     @global-border;
@nav-search-nested-color:                       @global-link-color;
@nav-search-nested-hover-color:                 @global-link-hover-color;


// Component
// ========================================================================

.hook-search() {}

.hook-search-icon() {}


// Sub-object `uk-search-field`
// ========================================================================

.hook-search-field() {}

.hook-search-field-focus() {}


// Dropdown modifier: `uk-dropdown-search`
// ========================================================================

.hook-dropdown-search() {}


// Nav modifier `uk-nav-search`
// ========================================================================

//
// Items
//

.hook-nav-search() {}

// Active
.hook-nav-search-active() {}

//
// Sub-object: `uk-nav-header`
//

.hook-nav-search-header() {}

//
// Sub-object: `uk-nav-divider`
//

.hook-nav-search-divider() {}


// Search in offcanvas
// ========================================================================

.hook-offcanvas-search-field() {}


// Miscellaneous
// ========================================================================

.hook-search-misc() {}