// Copyright (C) YOOtheme GmbH, http://www.gnu.org/licenses/gpl.html GNU/GPL */

//
// Component: Table
//
// ========================================================================


// Variables
// ========================================================================

@table-margin-vertical:                         @global-margin;

@table-caption-color:                           @global-muted-color;
@table-caption-font-size:                       round((@global-font-size * 0.85)); // 12px / 14px


// Component
// ========================================================================

.hook-table() {}

.hook-table-active() {}

.hook-table-striped() {}

.hook-table-condensed() {}

.hook-table-hover() {}


// Miscellaneous
// ========================================================================

.hook-table-misc() {}