// Copyright (C) YOOtheme GmbH, http://www.gnu.org/licenses/gpl.html GNU/GPL */

//
// Component: Thumbnail
//
// ========================================================================


// Variables
// ========================================================================

@thumbnail-border:                              @global-border;
@thumbnail-background:                          @global-background;
@thumbnail-hover-border:                        darken(@global-border, 20%);
@thumbnail-hover-background:                    @global-background;

@thumbnail-caption-color:                       @global-color;


// Component
// ========================================================================

.hook-thumbnail() {}

.hook-thumbnail-hover() {}


// Caption
// ========================================================================

.hook-thumbnail-caption() {}


// Miscellaneous
// ========================================================================

.hook-thumbnail-misc() {}