// Copyright (C) YOOtheme GmbH, http://www.gnu.org/licenses/gpl.html GNU/GPL */

//
// Component: Tooltip
//
// ========================================================================


// Variables
// ========================================================================

@tooltip-z-index:                               @global-z-index + 30;

@tooltip-font-size:                             round((@global-font-size * 0.85)); // 12px / 14px
@tooltip-line-height:                           round((@tooltip-font-size * 1.46)); // 18px / 20px


// Component
// ========================================================================

.hook-tooltip() {}


// Miscellaneous
// ========================================================================

.hook-tooltip-misc() {}