// Copyright (C) YOOtheme GmbH, http://www.gnu.org/licenses/gpl.html GNU/GPL */

//
// Component: Variables
//
// ========================================================================


// Global variables
// ========================================================================

//
// Text
//

@global-color:                                  #444;
@global-muted-color:                            #999;

@global-link-color:                             #07D;
@global-link-hover-color:                       #059;

@global-contrast-color:                         #fff;

@global-font-size:                              14px;
@global-line-height:                            20px;

//
// Backgrounds & Borders
//

@global-background:                             #fff;
@global-border:                                 #ddd;

@global-primary-background:                     #00a8e6;
@global-success-background:                     #8cc14c;
@global-warning-background:                     #faa732;
@global-danger-background:                      #da314b;

//
// Spacings
//

@global-margin:                                 15px;
@global-margin-large:                           25px;
@global-grid-gutter:                            25px;
@global-grid-gutter-large:                      35px;

//
// Controls
//

@global-height:                                 30px;
@global-height-mini:                            20px;
@global-height-small:                           25px;
@global-height-large:                           40px;

//
// Z-index
//

@global-z-index:                                1000;