.size-100 { width: 100%; }

.g-main-nav .g-dropdown, .g-main-nav .g-standard .g-dropdown .g-dropdown { position: absolute; top: auto; left: auto; opacity: 0; visibility: hidden; overflow: hidden; }

.g-main-nav .g-standard .g-dropdown.g-active, .g-main-nav .g-fullwidth .g-dropdown.g-active { opacity: 1; visibility: visible; overflow: visible; }

.g-main-nav ul, #g-mobilemenu-container ul { margin: 0; padding: 0; list-style: none; }

*, *::before, *::after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

@-webkit-viewport { width: device-width; }
@-moz-viewport { width: device-width; }
@-ms-viewport { width: device-width; }
@-o-viewport { width: device-width; }
@viewport { width: device-width; }
html { height: 100%; font-size: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }

body { margin: 0; }

#g-page-surround { min-height: 100vh; position: relative; }

article, aside, details, footer, header, hgroup, main, nav, section, summary { display: block; }

audio, canvas, progress, video { display: inline-block; vertical-align: baseline; }

audio:not([controls]) { display: none; height: 0; }

[hidden], template { display: none; }

a { background: transparent; text-decoration: none; }

a:active, a:hover { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

dfn { font-style: italic; }

mark { background: #ff0; color: #000; }

sub, sup { line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

img { width: auto\9; height: auto; max-width: 100%; display: inline-block; vertical-align: middle; border: 0; -ms-interpolation-mode: bicubic; }

iframe, svg { max-width: 100%; }

svg:not(:root) { overflow: hidden; }

figure { margin: 1em 40px; }

hr { height: 0; }

pre { overflow: auto; }

code { vertical-align: bottom; }

button, input, optgroup, select, textarea { color: inherit; font: inherit; margin: 0; }

button { overflow: visible; }

button, select { text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; }

button[disabled], html input[disabled] { cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

input { line-height: normal; }

input[type="checkbox"], input[type="radio"] { padding: 0; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; }

input[type="search"] { -webkit-appearance: textfield; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

legend { border: 0; padding: 0; }

textarea { overflow: auto; }

optgroup { font-weight: bold; }

table { border-collapse: collapse; border-spacing: 0; width: 100%; }

tr, td, th { vertical-align: middle; }

th, td { padding: 0.375rem 0; }

th { text-align: left; }

@media print { body { background: #fff !important; color: #000 !important; } }
.g-container { margin: 0 auto; padding: 0; }

.g-grid { display: -webkit-box; display: -moz-box; display: box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; -webkit-flex-flow: row wrap; -moz-flex-flow: row wrap; flex-flow: row wrap; list-style: none; margin: 0; padding: 0; text-rendering: optimizespeed; }
.g-grid.nowrap { -webkit-flex-flow: row; -moz-flex-flow: row; flex-flow: row; }

.g-block { -webkit-box-flex: 1; -moz-box-flex: 1; box-flex: 1; -webkit-flex: 1; -moz-flex: 1; -ms-flex: 1; flex: 1; min-width: 0; min-height: 0; }

.first-block { -webkit-box-ordinal-group: 0; -webkit-order: -1; -ms-flex-order: -1; order: -1; }

.last-block { -webkit-box-ordinal-group: 2; -webkit-order: 1; -ms-flex-order: 1; order: 1; }

.size-5 { -webkit-flex: 0 1 5%; -moz-flex: 0 1 5%; -ms-flex: 0 1 5%; flex: 0 5%; width: 5%; }

.size-6 { -webkit-flex: 0 1 6%; -moz-flex: 0 1 6%; -ms-flex: 0 1 6%; flex: 0 6%; width: 6%; }

.size-7 { -webkit-flex: 0 1 7%; -moz-flex: 0 1 7%; -ms-flex: 0 1 7%; flex: 0 7%; width: 7%; }

.size-8 { -webkit-flex: 0 1 8%; -moz-flex: 0 1 8%; -ms-flex: 0 1 8%; flex: 0 8%; width: 8%; }

.size-9 { -webkit-flex: 0 1 9%; -moz-flex: 0 1 9%; -ms-flex: 0 1 9%; flex: 0 9%; width: 9%; }

.size-10 { -webkit-flex: 0 1 10%; -moz-flex: 0 1 10%; -ms-flex: 0 1 10%; flex: 0 10%; width: 10%; }

.size-11 { -webkit-flex: 0 1 11%; -moz-flex: 0 1 11%; -ms-flex: 0 1 11%; flex: 0 11%; width: 11%; }

.size-12 { -webkit-flex: 0 1 12%; -moz-flex: 0 1 12%; -ms-flex: 0 1 12%; flex: 0 12%; width: 12%; }

.size-13 { -webkit-flex: 0 1 13%; -moz-flex: 0 1 13%; -ms-flex: 0 1 13%; flex: 0 13%; width: 13%; }

.size-14 { -webkit-flex: 0 1 14%; -moz-flex: 0 1 14%; -ms-flex: 0 1 14%; flex: 0 14%; width: 14%; }

.size-15 { -webkit-flex: 0 1 15%; -moz-flex: 0 1 15%; -ms-flex: 0 1 15%; flex: 0 15%; width: 15%; }

.size-16 { -webkit-flex: 0 1 16%; -moz-flex: 0 1 16%; -ms-flex: 0 1 16%; flex: 0 16%; width: 16%; }

.size-17 { -webkit-flex: 0 1 17%; -moz-flex: 0 1 17%; -ms-flex: 0 1 17%; flex: 0 17%; width: 17%; }

.size-18 { -webkit-flex: 0 1 18%; -moz-flex: 0 1 18%; -ms-flex: 0 1 18%; flex: 0 18%; width: 18%; }

.size-19 { -webkit-flex: 0 1 19%; -moz-flex: 0 1 19%; -ms-flex: 0 1 19%; flex: 0 19%; width: 19%; }

.size-20 { -webkit-flex: 0 1 20%; -moz-flex: 0 1 20%; -ms-flex: 0 1 20%; flex: 0 20%; width: 20%; }

.size-21 { -webkit-flex: 0 1 21%; -moz-flex: 0 1 21%; -ms-flex: 0 1 21%; flex: 0 21%; width: 21%; }

.size-22 { -webkit-flex: 0 1 22%; -moz-flex: 0 1 22%; -ms-flex: 0 1 22%; flex: 0 22%; width: 22%; }

.size-23 { -webkit-flex: 0 1 23%; -moz-flex: 0 1 23%; -ms-flex: 0 1 23%; flex: 0 23%; width: 23%; }

.size-24 { -webkit-flex: 0 1 24%; -moz-flex: 0 1 24%; -ms-flex: 0 1 24%; flex: 0 24%; width: 24%; }

.size-25 { -webkit-flex: 0 1 25%; -moz-flex: 0 1 25%; -ms-flex: 0 1 25%; flex: 0 25%; width: 25%; }

.size-26 { -webkit-flex: 0 1 26%; -moz-flex: 0 1 26%; -ms-flex: 0 1 26%; flex: 0 26%; width: 26%; }

.size-27 { -webkit-flex: 0 1 27%; -moz-flex: 0 1 27%; -ms-flex: 0 1 27%; flex: 0 27%; width: 27%; }

.size-28 { -webkit-flex: 0 1 28%; -moz-flex: 0 1 28%; -ms-flex: 0 1 28%; flex: 0 28%; width: 28%; }

.size-29 { -webkit-flex: 0 1 29%; -moz-flex: 0 1 29%; -ms-flex: 0 1 29%; flex: 0 29%; width: 29%; }

.size-30 { -webkit-flex: 0 1 30%; -moz-flex: 0 1 30%; -ms-flex: 0 1 30%; flex: 0 30%; width: 30%; }

.size-31 { -webkit-flex: 0 1 31%; -moz-flex: 0 1 31%; -ms-flex: 0 1 31%; flex: 0 31%; width: 31%; }

.size-32 { -webkit-flex: 0 1 32%; -moz-flex: 0 1 32%; -ms-flex: 0 1 32%; flex: 0 32%; width: 32%; }

.size-33 { -webkit-flex: 0 1 33%; -moz-flex: 0 1 33%; -ms-flex: 0 1 33%; flex: 0 33%; width: 33%; }

.size-34 { -webkit-flex: 0 1 34%; -moz-flex: 0 1 34%; -ms-flex: 0 1 34%; flex: 0 34%; width: 34%; }

.size-35 { -webkit-flex: 0 1 35%; -moz-flex: 0 1 35%; -ms-flex: 0 1 35%; flex: 0 35%; width: 35%; }

.size-36 { -webkit-flex: 0 1 36%; -moz-flex: 0 1 36%; -ms-flex: 0 1 36%; flex: 0 36%; width: 36%; }

.size-37 { -webkit-flex: 0 1 37%; -moz-flex: 0 1 37%; -ms-flex: 0 1 37%; flex: 0 37%; width: 37%; }

.size-38 { -webkit-flex: 0 1 38%; -moz-flex: 0 1 38%; -ms-flex: 0 1 38%; flex: 0 38%; width: 38%; }

.size-39 { -webkit-flex: 0 1 39%; -moz-flex: 0 1 39%; -ms-flex: 0 1 39%; flex: 0 39%; width: 39%; }

.size-40 { -webkit-flex: 0 1 40%; -moz-flex: 0 1 40%; -ms-flex: 0 1 40%; flex: 0 40%; width: 40%; }

.size-41 { -webkit-flex: 0 1 41%; -moz-flex: 0 1 41%; -ms-flex: 0 1 41%; flex: 0 41%; width: 41%; }

.size-42 { -webkit-flex: 0 1 42%; -moz-flex: 0 1 42%; -ms-flex: 0 1 42%; flex: 0 42%; width: 42%; }

.size-43 { -webkit-flex: 0 1 43%; -moz-flex: 0 1 43%; -ms-flex: 0 1 43%; flex: 0 43%; width: 43%; }

.size-44 { -webkit-flex: 0 1 44%; -moz-flex: 0 1 44%; -ms-flex: 0 1 44%; flex: 0 44%; width: 44%; }

.size-45 { -webkit-flex: 0 1 45%; -moz-flex: 0 1 45%; -ms-flex: 0 1 45%; flex: 0 45%; width: 45%; }

.size-46 { -webkit-flex: 0 1 46%; -moz-flex: 0 1 46%; -ms-flex: 0 1 46%; flex: 0 46%; width: 46%; }

.size-47 { -webkit-flex: 0 1 47%; -moz-flex: 0 1 47%; -ms-flex: 0 1 47%; flex: 0 47%; width: 47%; }

.size-48 { -webkit-flex: 0 1 48%; -moz-flex: 0 1 48%; -ms-flex: 0 1 48%; flex: 0 48%; width: 48%; }

.size-49 { -webkit-flex: 0 1 49%; -moz-flex: 0 1 49%; -ms-flex: 0 1 49%; flex: 0 49%; width: 49%; }

.size-50 { -webkit-flex: 0 1 50%; -moz-flex: 0 1 50%; -ms-flex: 0 1 50%; flex: 0 50%; width: 50%; }

.size-51 { -webkit-flex: 0 1 51%; -moz-flex: 0 1 51%; -ms-flex: 0 1 51%; flex: 0 51%; width: 51%; }

.size-52 { -webkit-flex: 0 1 52%; -moz-flex: 0 1 52%; -ms-flex: 0 1 52%; flex: 0 52%; width: 52%; }

.size-53 { -webkit-flex: 0 1 53%; -moz-flex: 0 1 53%; -ms-flex: 0 1 53%; flex: 0 53%; width: 53%; }

.size-54 { -webkit-flex: 0 1 54%; -moz-flex: 0 1 54%; -ms-flex: 0 1 54%; flex: 0 54%; width: 54%; }

.size-55 { -webkit-flex: 0 1 55%; -moz-flex: 0 1 55%; -ms-flex: 0 1 55%; flex: 0 55%; width: 55%; }

.size-56 { -webkit-flex: 0 1 56%; -moz-flex: 0 1 56%; -ms-flex: 0 1 56%; flex: 0 56%; width: 56%; }

.size-57 { -webkit-flex: 0 1 57%; -moz-flex: 0 1 57%; -ms-flex: 0 1 57%; flex: 0 57%; width: 57%; }

.size-58 { -webkit-flex: 0 1 58%; -moz-flex: 0 1 58%; -ms-flex: 0 1 58%; flex: 0 58%; width: 58%; }

.size-59 { -webkit-flex: 0 1 59%; -moz-flex: 0 1 59%; -ms-flex: 0 1 59%; flex: 0 59%; width: 59%; }

.size-60 { -webkit-flex: 0 1 60%; -moz-flex: 0 1 60%; -ms-flex: 0 1 60%; flex: 0 60%; width: 60%; }

.size-61 { -webkit-flex: 0 1 61%; -moz-flex: 0 1 61%; -ms-flex: 0 1 61%; flex: 0 61%; width: 61%; }

.size-62 { -webkit-flex: 0 1 62%; -moz-flex: 0 1 62%; -ms-flex: 0 1 62%; flex: 0 62%; width: 62%; }

.size-63 { -webkit-flex: 0 1 63%; -moz-flex: 0 1 63%; -ms-flex: 0 1 63%; flex: 0 63%; width: 63%; }

.size-64 { -webkit-flex: 0 1 64%; -moz-flex: 0 1 64%; -ms-flex: 0 1 64%; flex: 0 64%; width: 64%; }

.size-65 { -webkit-flex: 0 1 65%; -moz-flex: 0 1 65%; -ms-flex: 0 1 65%; flex: 0 65%; width: 65%; }

.size-66 { -webkit-flex: 0 1 66%; -moz-flex: 0 1 66%; -ms-flex: 0 1 66%; flex: 0 66%; width: 66%; }

.size-67 { -webkit-flex: 0 1 67%; -moz-flex: 0 1 67%; -ms-flex: 0 1 67%; flex: 0 67%; width: 67%; }

.size-68 { -webkit-flex: 0 1 68%; -moz-flex: 0 1 68%; -ms-flex: 0 1 68%; flex: 0 68%; width: 68%; }

.size-69 { -webkit-flex: 0 1 69%; -moz-flex: 0 1 69%; -ms-flex: 0 1 69%; flex: 0 69%; width: 69%; }

.size-70 { -webkit-flex: 0 1 70%; -moz-flex: 0 1 70%; -ms-flex: 0 1 70%; flex: 0 70%; width: 70%; }

.size-71 { -webkit-flex: 0 1 71%; -moz-flex: 0 1 71%; -ms-flex: 0 1 71%; flex: 0 71%; width: 71%; }

.size-72 { -webkit-flex: 0 1 72%; -moz-flex: 0 1 72%; -ms-flex: 0 1 72%; flex: 0 72%; width: 72%; }

.size-73 { -webkit-flex: 0 1 73%; -moz-flex: 0 1 73%; -ms-flex: 0 1 73%; flex: 0 73%; width: 73%; }

.size-74 { -webkit-flex: 0 1 74%; -moz-flex: 0 1 74%; -ms-flex: 0 1 74%; flex: 0 74%; width: 74%; }

.size-75 { -webkit-flex: 0 1 75%; -moz-flex: 0 1 75%; -ms-flex: 0 1 75%; flex: 0 75%; width: 75%; }

.size-76 { -webkit-flex: 0 1 76%; -moz-flex: 0 1 76%; -ms-flex: 0 1 76%; flex: 0 76%; width: 76%; }

.size-77 { -webkit-flex: 0 1 77%; -moz-flex: 0 1 77%; -ms-flex: 0 1 77%; flex: 0 77%; width: 77%; }

.size-78 { -webkit-flex: 0 1 78%; -moz-flex: 0 1 78%; -ms-flex: 0 1 78%; flex: 0 78%; width: 78%; }

.size-79 { -webkit-flex: 0 1 79%; -moz-flex: 0 1 79%; -ms-flex: 0 1 79%; flex: 0 79%; width: 79%; }

.size-80 { -webkit-flex: 0 1 80%; -moz-flex: 0 1 80%; -ms-flex: 0 1 80%; flex: 0 80%; width: 80%; }

.size-81 { -webkit-flex: 0 1 81%; -moz-flex: 0 1 81%; -ms-flex: 0 1 81%; flex: 0 81%; width: 81%; }

.size-82 { -webkit-flex: 0 1 82%; -moz-flex: 0 1 82%; -ms-flex: 0 1 82%; flex: 0 82%; width: 82%; }

.size-83 { -webkit-flex: 0 1 83%; -moz-flex: 0 1 83%; -ms-flex: 0 1 83%; flex: 0 83%; width: 83%; }

.size-84 { -webkit-flex: 0 1 84%; -moz-flex: 0 1 84%; -ms-flex: 0 1 84%; flex: 0 84%; width: 84%; }

.size-85 { -webkit-flex: 0 1 85%; -moz-flex: 0 1 85%; -ms-flex: 0 1 85%; flex: 0 85%; width: 85%; }

.size-86 { -webkit-flex: 0 1 86%; -moz-flex: 0 1 86%; -ms-flex: 0 1 86%; flex: 0 86%; width: 86%; }

.size-87 { -webkit-flex: 0 1 87%; -moz-flex: 0 1 87%; -ms-flex: 0 1 87%; flex: 0 87%; width: 87%; }

.size-88 { -webkit-flex: 0 1 88%; -moz-flex: 0 1 88%; -ms-flex: 0 1 88%; flex: 0 88%; width: 88%; }

.size-89 { -webkit-flex: 0 1 89%; -moz-flex: 0 1 89%; -ms-flex: 0 1 89%; flex: 0 89%; width: 89%; }

.size-90 { -webkit-flex: 0 1 90%; -moz-flex: 0 1 90%; -ms-flex: 0 1 90%; flex: 0 90%; width: 90%; }

.size-91 { -webkit-flex: 0 1 91%; -moz-flex: 0 1 91%; -ms-flex: 0 1 91%; flex: 0 91%; width: 91%; }

.size-92 { -webkit-flex: 0 1 92%; -moz-flex: 0 1 92%; -ms-flex: 0 1 92%; flex: 0 92%; width: 92%; }

.size-93 { -webkit-flex: 0 1 93%; -moz-flex: 0 1 93%; -ms-flex: 0 1 93%; flex: 0 93%; width: 93%; }

.size-94 { -webkit-flex: 0 1 94%; -moz-flex: 0 1 94%; -ms-flex: 0 1 94%; flex: 0 94%; width: 94%; }

.size-95 { -webkit-flex: 0 1 95%; -moz-flex: 0 1 95%; -ms-flex: 0 1 95%; flex: 0 95%; width: 95%; }

.size-33-3 { width: 33.33333%; }

.size-16-7 { width: 16.66667%; }

.size-14-3 { width: 14.28571%; }

.size-12-5 { width: 12.5%; }

.size-11-1 { width: 11.11111%; }

.size-9-1 { width: 9.09091%; }

.size-8-3 { width: 8.33333%; }

.g-main-nav:not(.g-menu-hastouch) .g-dropdown { z-index: 10; top: -9999px; }
.g-main-nav:not(.g-menu-hastouch) .g-dropdown.g-active { top: 100%; }
.g-main-nav:not(.g-menu-hastouch) .g-dropdown .g-dropdown { top: 0; }
.g-main-nav:not(.g-menu-hastouch) .g-fullwidth .g-dropdown.g-active { top: auto; }
.g-main-nav:not(.g-menu-hastouch) .g-fullwidth .g-dropdown .g-dropdown.g-active { top: 0; }
.g-main-nav .g-toplevel > li { display: inline-block; cursor: pointer; -webkit-transition: background 0.2s ease-out, -webkit-transform 0.2s ease-out; -moz-transition: background 0.2s ease-out, -moz-transform 0.2s ease-out; transition: background 0.2s ease-out, transform 0.2s ease-out; }
.g-main-nav .g-toplevel > li.g-menu-item-type-particle, .g-main-nav .g-toplevel > li.g-menu-item-type-module { cursor: initial; }
.g-main-nav .g-toplevel > li .g-menu-item-content { display: inline-block; vertical-align: middle; cursor: pointer; }
.g-main-nav .g-toplevel > li .g-menu-item-container { -webkit-transition: -webkit-transform 0.2s ease-out; -moz-transition: -moz-transform 0.2s ease-out; transition: transform 0.2s ease-out; }
.g-main-nav .g-toplevel > li.g-parent .g-menu-parent-indicator { display: inline-block; vertical-align: middle; }
.g-main-nav .g-toplevel > li.g-parent .g-menu-parent-indicator:after { display: inline-block; cursor: pointer; width: 1.5rem; opacity: 0.5; font-family: FontAwesome; content: "\f078"; text-align: right; }
.g-main-nav .g-toplevel > li.g-parent.g-selected > .g-menu-item-container > .g-menu-parent-indicator:after { content: "\f00d"; }
.g-main-nav .g-dropdown { -webkit-transition: opacity 0.2s ease-out, -webkit-transform 0.2s ease-out; -moz-transition: opacity 0.2s ease-out, -moz-transform 0.2s ease-out; transition: opacity 0.2s ease-out, transform 0.2s ease-out; z-index: 1; }
.g-main-nav .g-sublevel > li { -webkit-transition: background 0.2s ease-out, -webkit-transform 0.2s ease-out; -moz-transition: background 0.2s ease-out, -moz-transform 0.2s ease-out; transition: background 0.2s ease-out, transform 0.2s ease-out; }
.g-main-nav .g-sublevel > li.g-menu-item-type-particle, .g-main-nav .g-sublevel > li.g-menu-item-type-module { cursor: initial; }
.g-main-nav .g-sublevel > li .g-menu-item-content { display: inline-block; vertical-align: middle; word-break: break-word; }
.g-main-nav .g-sublevel > li.g-parent .g-menu-item-content { margin-right: 2rem; }
.g-main-nav .g-sublevel > li.g-parent .g-menu-parent-indicator { position: absolute; right: 0.738rem; top: 0.838rem; width: auto; text-align: center; }
.g-main-nav .g-sublevel > li.g-parent .g-menu-parent-indicator:after { content: "\f054"; text-align: center; }
.g-main-nav .g-sublevel > li.g-parent.g-selected > .g-menu-item-container > .g-menu-parent-indicator:after { content: "\f00d"; }

.g-menu-item-container { display: block; position: relative; }

.g-main-nav .g-standard { position: relative; }
.g-main-nav .g-standard .g-sublevel > li { position: relative; }
.g-main-nav .g-standard .g-dropdown { top: 100%; }
.g-main-nav .g-standard .g-dropdown .g-dropdown { left: 100%; top: 0; }
.g-main-nav .g-standard .g-dropdown .g-block { -webkit-box-flex: 0; -moz-box-flex: 0; box-flex: 0; -webkit-flex: 0 100%; -moz-flex: 0 100%; -ms-flex: 0 100%; flex: 0 100%; }
.g-main-nav .g-standard .g-go-back { display: none; }

.g-main-nav .g-fullwidth .g-dropdown { position: absolute; left: 0; right: 0; }
.g-main-nav .g-fullwidth .g-dropdown .g-block { position: relative; overflow: hidden; }
.g-main-nav .g-fullwidth .g-dropdown .g-go-back { display: block; }
.g-main-nav .g-fullwidth .g-dropdown .g-go-back.g-level-1 { display: none; }
.g-main-nav .g-fullwidth .g-sublevel .g-dropdown { top: 0; -webkit-transform: translateX(100%); -moz-transform: translateX(100%); -ms-transform: translateX(100%); -o-transform: translateX(100%); transform: translateX(100%); }
.g-main-nav .g-fullwidth .g-sublevel .g-dropdown.g-active { -webkit-transform: translateX(0); -moz-transform: translateX(0); -ms-transform: translateX(0); -o-transform: translateX(0); transform: translateX(0); }
.g-main-nav .g-fullwidth .g-sublevel.g-slide-out > .g-menu-item > .g-menu-item-container { -webkit-transform: translateX(-100%); -moz-transform: translateX(-100%); -ms-transform: translateX(-100%); -o-transform: translateX(-100%); transform: translateX(-100%); }

.g-go-back.g-level-1 { display: none; }
.g-go-back a span { display: none; }
.g-go-back a:before { display: block; text-align: center; width: 1.28571em; font-family: FontAwesome; content: "\f053"; opacity: 0.5; }

.g-menu-item-container > i { vertical-align: middle; margin-right: 0.2rem; }

.g-menu-item-subtitle { display: block; font-size: 0.8rem; line-height: 1.1; }

.g-nav-overlay, .g-menu-overlay { top: 0; right: 0; bottom: 0; left: 0; z-index: -1; opacity: 0; position: absolute; -webkit-transition: opacity 0.3s ease-out, z-index 0.1s ease-out; -moz-transition: opacity 0.3s ease-out, z-index 0.1s ease-out; transition: opacity 0.3s ease-out, z-index 0.1s ease-out; }

#g-mobilemenu-container .g-toplevel { position: relative; }
#g-mobilemenu-container .g-toplevel li { display: block; position: static !important; margin-right: 0; cursor: pointer; }
#g-mobilemenu-container .g-toplevel li .g-menu-item-container { padding: 0.938rem 1rem; }
#g-mobilemenu-container .g-toplevel li .g-menu-item-content { display: inline-block; line-height: 1rem; }
#g-mobilemenu-container .g-toplevel li.g-parent > .g-menu-item-container > .g-menu-item-content { position: relative; }
#g-mobilemenu-container .g-toplevel li.g-parent .g-menu-parent-indicator { position: absolute; right: 0.938rem; text-align: center; }
#g-mobilemenu-container .g-toplevel li.g-parent .g-menu-parent-indicator:after { display: inline-block; text-align: center; opacity: 0.5; width: 1.5rem; line-height: normal; font-family: FontAwesome; content: "\f054"; }
#g-mobilemenu-container .g-toplevel .g-dropdown { top: 0; background: transparent; position: absolute; left: 0; right: 0; z-index: 1; -webkit-transition: -webkit-transform 0.2s ease-out; -moz-transition: -moz-transform 0.2s ease-out; transition: transform 0.2s ease-out; -webkit-transform: translateX(100%); -moz-transform: translateX(100%); -ms-transform: translateX(100%); -o-transform: translateX(100%); transform: translateX(100%); }
#g-mobilemenu-container .g-toplevel .g-dropdown.g-active { -webkit-transform: translateX(0); -moz-transform: translateX(0); -ms-transform: translateX(0); -o-transform: translateX(0); transform: translateX(0); }
#g-mobilemenu-container .g-toplevel .g-dropdown .g-go-back { display: block; }
#g-mobilemenu-container .g-toplevel .g-dropdown .g-block { width: 100%; overflow: visible; }
#g-mobilemenu-container .g-toplevel .g-dropdown .g-block .g-go-back { display: none; }
#g-mobilemenu-container .g-toplevel .g-dropdown .g-block:first-child .g-go-back { display: block; }
#g-mobilemenu-container .g-toplevel .g-dropdown-column { float: none; padding: 0; }
#g-mobilemenu-container .g-sublevel { cursor: default; }
#g-mobilemenu-container .g-sublevel li { position: static; }
#g-mobilemenu-container .g-sublevel .g-dropdown { top: 0; }
#g-mobilemenu-container .g-menu-item-container { -webkit-transition: -webkit-transform 0.2s ease-out; -moz-transition: -moz-transform 0.2s ease-out; transition: transform 0.2s ease-out; }
#g-mobilemenu-container .g-toplevel.g-slide-out > .g-menu-item > .g-menu-item-container, #g-mobilemenu-container .g-toplevel.g-slide-out > .g-go-back > .g-menu-item-container, #g-mobilemenu-container .g-sublevel.g-slide-out > .g-menu-item > .g-menu-item-container, #g-mobilemenu-container .g-sublevel.g-slide-out > .g-go-back > .g-menu-item-container { -webkit-transform: translateX(-100%); -moz-transform: translateX(-100%); -ms-transform: translateX(-100%); -o-transform: translateX(-100%); transform: translateX(-100%); }
#g-mobilemenu-container .g-menu-item-subtitle { line-height: 1.5; }
#g-mobilemenu-container i { float: left; line-height: 1.4rem; margin-right: 0.3rem; }

.g-menu-overlay.g-menu-overlay-open { z-index: 2; position: fixed; opacity: 1; height: 100vh; }

h1, h2, h3, h4, h5, h6 { margin: 0.75rem 0 1.5rem 0; text-rendering: optimizeLegibility; }

p { margin: 1.5rem 0; }

ul, ol, dl { margin-top: 1.5rem; margin-bottom: 1.5rem; }
ul ul, ul ol, ul dl, ol ul, ol ol, ol dl, dl ul, dl ol, dl dl { margin-top: 0; margin-bottom: 0; }

ul { margin-left: 1.5rem; padding: 0; }

dl { padding: 0; }

ol { padding-left: 1.5rem; }

blockquote { margin: 1.5rem 0; padding-left: 0.75rem; }

cite { display: block; }
cite:before { content: "\2014 \0020"; }

pre { margin: 1.5rem 0; padding: 0.938rem; }

hr { border-left: none; border-right: none; border-top: none; margin: 1.5rem 0; }

fieldset { border: 0; padding: 0.938rem; margin: 0 0 1.5rem 0; }

label { margin-bottom: 0.375rem; }
label abbr { display: none; }

textarea, select[multiple=multiple] { -webkit-transition: border-color; -moz-transition: border-color; transition: border-color; padding: 0.375rem 0.375rem; }
textarea:focus, select[multiple=multiple]:focus { outline: none; }

input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"] { -webkit-transition: border-color; -moz-transition: border-color; transition: border-color; padding: 0.375rem 0.375rem; }

input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus { outline: none; }

textarea { resize: vertical; }

input[type="checkbox"], input[type="radio"] { display: inline; margin-right: 0.375rem; }

input[type="file"] { width: 100%; }

select { max-width: 100%; margin-bottom: 1.5rem; }

button, input[type="submit"] { cursor: pointer; user-select: none; vertical-align: middle; white-space: nowrap; border: inherit; }

.float-left { float: left !important; }

.float-right { float: right !important; }

.hide, body .g-offcanvas-hide { display: none; }

.clearfix:after { content: ""; display: table; clear: both; }

.center { text-align: center !important; }

.align-right { text-align: right !important; }

.align-left { text-align: left !important; }

.full-height { min-height: 100vh; }

.nomarginall { margin: 0 !important; }
.nomarginall .content { margin: 0 !important; }

.nomargintop { margin-top: 0 !important; }
.nomargintop .content { margin-top: 0 !important; }

.nomarginbottom { margin-bottom: 0 !important; }
.nomarginbottom .content { margin-bottom: 0 !important; }

.nopaddingall { padding: 0 !important; }
.nopaddingall .content { padding: 0 !important; }

.nopaddingtop { padding-top: 0 !important; }
.nopaddingtop .content { padding-top: 0 !important; }

.nopaddingbottom { padding-bottom: 0 !important; }
.nopaddingbottom .content { padding-bottom: 0 !important; }

.full-width { -webkit-box-flex: 0; -moz-box-flex: 0; box-flex: 0; -webkit-flex: 0 100%; -moz-flex: 0 100%; -ms-flex: 0 100%; flex: 0 100%; }
.full-width .g-block { -webkit-box-flex: 0; -moz-box-flex: 0; box-flex: 0; -webkit-flex: 0 100%; -moz-flex: 0 100%; -ms-flex: 0 100%; flex: 0 100%; }

.hidden { display: none; visibility: hidden; }

.visible-phone { display: none !important; }

.visible-tablet { display: none !important; }

.hidden-desktop { display: none !important; }

.visible-desktop { display: inherit !important; }

@media print { .visible-print { display: inherit !important; }
  .hidden-print { display: none !important; } }
#g-offcanvas { position: fixed; top: 0; left: 0; right: 0; bottom: 0; overflow-x: hidden; overflow-y: auto; text-align: left; display: none; -webkit-overflow-scrolling: touch; }

.g-offcanvas-toggle { display: block; position: absolute; top: 0.7rem; left: 0.7rem; z-index: 10; line-height: 1; cursor: pointer; }

.g-offcanvas-active { overflow-x: hidden; }

.g-offcanvas-open { overflow: hidden; }
.g-offcanvas-open body, .g-offcanvas-open #g-page-surround { overflow: hidden; }
.g-offcanvas-open .g-nav-overlay { z-index: 15; position: absolute; opacity: 1; height: 100%; }
.g-offcanvas-open #g-offcanvas { display: block; }

.g-offcanvas-left #g-page-surround { left: 0; }

.g-offcanvas-right #g-offcanvas { left: inherit; }
.g-offcanvas-right .g-offcanvas-toggle { left: inherit; right: 0.7rem; }
.g-offcanvas-right #g-page-surround { right: 0; }
