/**
 * @copyright	Copyright (c) 2013 Skyline Technology Ltd (http://extstore.com). All rights reserved.
 * @license		http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL
 */

.projects-filter {
    border-bottom: 1px solid #E7E7E7;
    display: block;
    line-height: 24px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-bottom: 15px;
    width: 100%;
}

.projects-filter ul {
	list-style: none outside none;
	margin: 0;
	padding: 0;
}

.projects-filter ul li {
	background: url("../images/filter_divider.png") no-repeat scroll 97% 50% transparent;
    display: inline;
    padding: 0 10px 0 0;
}

.projects-filter ul li:last-child {
	background: none;
}

.projects-filter a {
    border-radius: 2px 2px 2px 2px;
    color: #777777;
    font-size: 12px;
    padding: 4px 8px;

	-webkit-transition: all 0.1s ease-in-out 0s;
	-moz-transition: all 0.1s ease-in-out 0s;
	-ms-transition: all 0.1s ease-in-out 0s;
	-o-transition: all 0.1s ease-in-out 0s;
	transition: all 0.1s ease-in-out 0s;
}

.projects-filter a:focus {
	outline: none;
}

.projects-filter a:hover {
    background: none repeat scroll 0 0 #AAAAAA;
    color: #FFFFFF;
	text-decoration: none;
}

.projects-filter a.selected,
.projects-filter a.selected:hover {
	background: none repeat scroll 0 0 #2DA0CE;
    color: #FFFFFF !important;
}

.projects-wrapper {
	width: 100%;
	margin-left: -1.5%;
	margin-right: -1.5%;
}

.projects-wrapper .isotope-item {
	float: left;
	display: inline;
	margin-bottom: 30px;
	margin-left: 1.5%;
	margin-right: 1.5%;
}

.projects-wrapper .column-2 {
	width: 47%;
}

.projects-wrapper .column-3 {
	width: 30.33%;
}

.projects-wrapper .column-4 {
	width: 22%;
}

.projects-wrapper .project-img,
.project-wrapper .project-img {
	position: relative;
}

.projects-wrapper .img-overlay,
.project-wrapper .img-overlay {
    background: url("../images/overlay.png") no-repeat scroll center center, url("../images/overlay_bg.png") repeat scroll center center transparent;
}

.projects-wrapper .img-overlay,
.project-wrapper .img-overlay {
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 40;
	-webkit-transition: opacity 180ms ease-in-out 0s;
	-moz-transition: opacity 180ms ease-in-out 0s;
	-ms-transition: opacity 180ms ease-in-out 0s;
	-o-transition: opacity 180ms ease-in-out 0s;
	transition: opacity 180ms ease-in-out 0s;
}

.projects-wrapper .img-overlay:hover,
.project-wrapper .img-overlay:hover {
	opacity: 1;
}

.projects-wrapper .isotope-item {
  z-index: 2;
}

.projects-wrapper .isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.projects-wrapper.isotope,
.projects-wrapper.isotope .isotope-item {
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	-ms-transition-duration: 0.8s;
	-o-transition-duration: 0.8s;
	transition-duration: 0.8s;
}

.projects-wrapper.isotope {
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	-ms-transition-property: height, width;
	-o-transition-property: height, width;
	transition-property: height, width;
}

.projects-wrapper.isotope .isotope-item {
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform, opacity;
	-ms-transition-property: -ms-transform, opacity;
	-o-transition-property: -o-transform, opacity;
	transition-property: transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.projects-wrapper.isotope.no-transition,
.projects-wrapper.isotope.no-transition .isotope-item,
.projects-wrapper.isotope .isotope-item.no-transition {
	-webkit-transition-duration: 0s;
	-moz-transition-duration: 0s;
	-ms-transition-duration: 0s;
	-o-transition-duration: 0s;
	transition-duration: 0s;
}

.project-wrapper .flexslider {
	position: relative;
}

.project-wrapper .flexslider ul,
.project-wrapper .flexslider ul li {
	margin: 0;
	padding: 0;
	list-style: none;
}

.project-wrapper .flex-direction-nav li a {
	background-color: #555555;
	cursor: pointer;
	height: 60px;
	margin: -30px 0 0;
	opacity: 1;
	position: absolute;
	text-indent: -9999px;
	top: 48%;
	width: 35px;
	z-index: 500;
	display: block;
	opacity: 1;

	-webkit-transition: all 0.2s ease-in-out 0s;
	-moz-transition: all 0.2s ease-in-out 0s;
	-ms-transition: all 0.2s ease-in-out 0s;
	-o-transition: all 0.2s ease-in-out 0s;
	transition: all 0.2s ease-in-out 0s;
}

.project-wrapper .flexslider:hover .flex-direction-nav li a {
	opacity: 1;
}

.project-wrapper .flex-direction-nav li a:hover {
	background-color: #2DA0CE;
}

.project-wrapper .flex-direction-nav li a:focus {
	outline: none;
}

.project-wrapper .flex-direction-nav .flex-prev {
	background-image: url("../images/flex_prev.png");
	background-position: 47% 50%;
	background-repeat: no-repeat;
	border-radius: 0 3px 3px 0;
	left: 0;
	position: absolute;
}

.project-wrapper .flex-direction-nav .flex-next {
	background-image: url("../images/flex_next.png");
	background-position: 53% 50%;
	background-repeat: no-repeat;
	border-radius: 3px 0 0 3px;
	position: absolute;
	right: 0;
}

.project-wrapper .check_list ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.project-wrapper .check_list li {
	background: url("../images/list_check.png") no-repeat scroll 0 50% transparent;
    padding: 0 0 0 18px;
}

.project-wrapper .project-link {
	margin: 18px 0;
	padding: 10px 0 0;
	border-top: 1px solid #E5E5E5;
}

.project-nav {
	float: right;
	margin-top: -25px;
}

.project-nav .prev-project,
.project-nav .next-project {
	border-radius: 3px 3px 3px 3px;
	display: block;
	height: 21px;
	text-indent: -9999px;
	width: 21px;

	-webkit-transition: all 0.2s ease-in-out 0s;
	-moz-transition: all 0.2s ease-in-out 0s;
	-ms-transition: all 0.2s ease-in-out 0s;
	-o-transition: all 0.2s ease-in-out 0s;
	transition: all 0.2s ease-in-out 0s;
}

.project-nav .prev-project:hover,
.project-nav .next-project:hover {
	background-color: #2DA0CE;
}

.project-nav .next-project {
    background: url("../images/pnav_prev.png") no-repeat scroll 50% 50% #606060;
    float: left;
    margin-right: 3px;
}

.project-nav .prev-project {
    background: url("../images/pnav_next.png") no-repeat scroll 50% 50% #606060;
    float: right;
}

.project-nav .prev-project.disable,
.project-nav .next-project.disable,
.project-nav .prev-project.disable:hover,
.project-nav .next-project.disable:hover {
	background-color: #CCC;
}


@media (min-width: 768px) and (max-width: 979px) {
	.projects-wrapper .column-3,
	.projects-wrapper .column-4 {
		width: 47%;
	}
}
